.finish{
    padding: 24px 0 32px 0;
}
.container{
    display: block;
    max-width: 1320px;
    margin: 0 auto;
}
.title{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 32px;
    height: 20px;
    margin-top: 24px;
}
.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #919191;

}